<?xml version="1.0" encoding="utf-8"?>

<Game>

  <App>

  </App>

  <console>

  </console>

  <file_system>
    
  </file_system>

  <fonts>
    
  </fonts>

  <audio>

  </audio>

  <entitySystem difficulty = "normal">
    <enemies>
      <footman hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125" difficulty = "1"/>
      <archer hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125" difficulty = "2"/>
      <wizard hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125" difficulty = "5"/>
      <dark_knight hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125" difficulty = "7"/>
    </enemies>

    <players>
      <thrall hp = "200" speed = "40" damage = "60" energy_percent_hit = "5"/>
    </players>

    <items>
      <item1/>
      <item2/>
    </items>

  </entitySystem>
  
  <GUI>
    
  </GUI>

  <input>

  </input>

  <renderer>
    <vsync active = "true"/>
  </renderer>

  <textures>

  </textures>
  
  <window>
    
    <size w = "640" h = "360"/>
    <fullscreen active = "false"/>
    <borderless active = "false"/>
    <resizable active = "true"/>
    <fullscreen_window active = "false"/>
  </window>

</Game> 