<?xml version="1.0" encoding="utf-8"?>

<Game>

  <App>
    <fps_cap value = "60"/>
  </App>
  
  <map>
    <seed value ="0"/>
    <lvl> <!-- First level -->
      <sizeGrid x ="50" y ="50"/>
      <sizeDungeon iterations ="300"/>
      <archers quantity ="5">     
        <tier1 percentage="10"/>
        <tier2 percentage="20"/>
        <tier3 percentage="30"/>
      </archers>
    </lvl>
    <lvl> <!-- Second level -->
      <sizeGrid x ="50" y ="50"/>
      <sizeDungeon iterations ="300"/>
      <archers quantity ="5">
        <tier1 percentage="10"/>
        <tier2 percentage="20"/>
        <tier3 percentage="30"/>
      </archers>
    </lvl>
    <lvl> <!-- Third level -->
      <sizeGrid x ="50" y ="50"/>
      <sizeDungeon iterations ="300"/>
      <archers quantity ="5">
        <tier1 percentage="10"/>
        <tier2 percentage="20"/>
        <tier3 percentage="30"/>
      </archers>
    </lvl>
    <lvl> <!-- Forth level -->
      <sizeGrid x ="50" y ="50"/>
      <sizeDungeon iterations ="300"/>
      <archers quantity ="5">
        <tier1 percentage="10"/>
        <tier2 percentage="20"/>
        <tier3 percentage="30"/>
      </archers>
    </lvl>
    <lvl> <!-- Fifth level -->
      <sizeGrid x ="50" y ="50"/>
      <sizeDungeon iterations ="300"/>
      <archers quantity ="5">
        <tier1 percentage="10"/>
        <tier2 percentage="20"/>
        <tier3 percentage="30"/>
      </archers>
    </lvl> 
  </map>

  <console>

  </console>

  <file_system>
    
  </file_system>

  <fonts>
    
  </fonts>

  <audio>

  </audio>

  <entitySystem>
    <enemies>
      <archer_tier1  speed ="2" damage = "30" hp = "100" arrows_speed= "7" arrows_life = "2500" time_between_attacks = "1000" time_stunned_after_attack=".5" chance_powerful_attack="50"  vision_range = "250" attack_range ="90" minimal_distance_with_player="250" dropping_chance ="10" pre_attac ="500" tiles_to_littlemove ="4" distance_to_scape ="50" attacCone_probability="0" attacFast_probability="0" timeStunedAfterHit="300" velocityDashHit="500" timingDashHit="50"/>
      <archer_tier2  speed ="3" damage = "20" hp = "100" arrows_speed= "6" arrows_life = "2500" time_between_attacks = "1000" time_stunned_after_attack=".5" chance_powerful_attack="0"   vision_range = "250" attack_range ="90" minimal_distance_with_player="50" dropping_chance ="10"  pre_attac ="500" tiles_to_littlemove ="4" distance_to_scape ="50" attacCone_probability="0" attacFast_probability="0" timeStunedAfterHit="300" velocityDashHit="500" timingDashHit="50"/>
      <archer_tier3  speed ="3" damage = "20" hp = "100" arrows_speed= "5" arrows_life = "2500" time_between_attacks = "1000" time_stunned_after_attack=".5" chance_powerful_attack="0"   vision_range = "250" attack_range ="90" minimal_distance_with_player="50" dropping_chance ="10"  pre_attac ="500" tiles_to_littlemove ="4" distance_to_scape ="50" attacCone_probability="0" attacFast_probability="0" timeStunedAfterHit="300" velocityDashHit="500" timingDashHit="50"/>
    </enemies>

    <players>
      <cds dash = "0" deadinfloor = "2" invulpostdamaged = "1"/>
      <thrall hp = "200" speed = "250" damage = "60" energy_percent_hit = "5" skill_multiplier="3"/>
    </players>

  </entitySystem>

  <items>
    <dmgBall damage = "5f"/>
    <fearBall seconds_fear = "2"/>
    <frozenBall seconds_frozen = "1" percent_chance="60"/>
    <slowShit time_slowed = "7" slow_percent = "80"/>
    <dmgShit damage_by_dt = "1"/>
  </items>
  
  
  <GUI>
    <version string="Warcraft-Heroes-Beyond-Time-RELEASE-v0.3.1.1"/>
  </GUI>

  <input>

  </input>

  <renderer>
    <vsync active = "true"/>
  </renderer>

  <textures>

  </textures>
  
  <window>
    
    <size w = "640" h = "360"/>
    <fullscreen active = "false"/>
    <borderless active = "false"/>
    <resizable active = "true"/>
    <fullscreen_window active = "false"/>
  </window>

</Game> 