<?xml version="1.0" encoding="utf-8"?>

<Game>

  <App>
    <fps_cap value = "60"/>
  </App>

  <console>

  </console>

  <file_system>
    
  </file_system>

  <fonts>
    
  </fonts>

  <audio>

  </audio>

  <entitySystem difficulty = "normal">
    <enemies>
      <footman      hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125"  difficulty = "1"  def_hability_chance = ""  strong_attack_chance = ""  vision_area = ""  CD_between_attacks=""/>
      <archer       hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125"  difficulty = "2"  def_hability_chance = ""  strong_attack_chance = ""  vision_area = ""  CD_between_attacks=""/>
      <wizard       hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125"  difficulty = "5"  def_hability_chance = ""  strong_attack_chance = ""  vision_area = ""  CD_between_attacks=""/>
      <dark_knight  hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125"  difficulty = "7"  def_hability_chance = ""  strong_attack_chance = ""  vision_area = ""  CD_between_attacks=""/>
      <guldan       hp = "200" speed = "40" damage = "60" dropping_chance = "25" range = "125"  difficulty = "7"  def_hability_chance = ""  strong_attack_chance = ""  vision_area = ""  CD_between_attacks=""/>
    </enemies>

    <players>
      <cds dash = "0" deadinfloor = "2" invulpostdamaged = "1"/>
      <thrall hp = "200" speed = "250" damage = "60" energy_percent_hit = "5" skill_multiplier="3"/>
    </players>

  </entitySystem>

  <items>
    <dmgBall damage = "5f"/>
    <fearBall seconds_fear = "2"/>
    <frozenBall seconds_frozen = "1"/>
    <slowShit time_slowed = "7" slow_percent = "80"/>
    <dmgShit damage_by_dt = "1"/>
  </items>
  
  
  <GUI>
    <version string="Warcraft-Heroes-Beyond-Time-RELEASE-v0.3.1.1"/>
  </GUI>

  <input>

  </input>

  <renderer>
    <vsync active = "true"/>
  </renderer>

  <textures>

  </textures>
  
  <window>
    
    <size w = "640" h = "360"/>
    <fullscreen active = "false"/>
    <borderless active = "false"/>
    <resizable active = "true"/>
    <fullscreen_window active = "false"/>
  </window>

</Game> 